# Ignore compiled output files
main
*.exe
*.out
*.o
*.a
*.so
*.d
*.csv
*.jpg
/build/   # Ignore the 'build' directory
/bin/     # Ignore the 'bin' directory
/CMakeFiles/ #Ignore cmake files
CMakeCache.txt
cmake_install.cmake
rb3_node_cpp
Makefile