# Ignore compiled output files
main
*.exe
*.out
*.o
*.a
*.so
*.d
*.csv
*.jpg
*.cmake
*.dir
*.log
*.marks
*.txt
*.json
*.bin
CMakeCCompilerId.c
CMakeCXXCompilerId.cpp
Makefile2
cmake.check_cache
/build/   # Ignore the 'build' directory
/bin/     # Ignore the 'bin' directory
4bitRobot/CMakeFiles/ #Ignore cmake files
CMakeCache.txt
cmake_install.cmake
rb3_node_cpp
Makefile
4bitRobot/CMakeFiles/Progress/1
4bitRobot/CMakeFiles/Progress/2
4bitRobot/CMakeFiles/Progress/3
4bitRobot/CMakeFiles/Progress/4
4bitRobotTest/.cache/
4bitRobotTest/compile_commands.json
4bitRobotTest/CMakeFiles/Progress/1
4bitRobotTest/CMakeFiles/Progress/2
4bitRobotTest/CMakeFiles/Progress/3
4bitRobotTest/CMakeFiles/Progress/4
4bitRobotTest/CMakeFiles/Progress/5
4bitRobotTest/CMakeFiles/Progress/6